/**
 *
 * BOXING: GENERAL
 *
 */

html {

	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;

}

*, *:before, *:after {

	box-sizing: inherit;

}

body {

	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	/*&:before {
		position: absolute; left: -99999rem;
		content: "xsmall";

		@include media('small') {
			content: "small";
		}

		@include media('medium') {
			content: "medium";
		}

		@include media('large') {
			content: "large";
		}

		@include media('xlarge') {
			content: "xlarge";
		}
	}*/

}

h1, h2, h3, h4, h5, h6, ul, li, p {

	margin: 0; padding: 0;

}
