/**
 *
 * COLORS: GENERAL
 *
 */

body {
	color: color('dark');
	background-color: color('light');
}

::selection {
	color: #fff;
	background: color('action');
}

::-moz-selection {
	color: #fff;
	background: color('action');
}
