body{
        &  #theBucket{
        &:after{
            display: block;
            content:  url("../svg/loadpage.svg");
            position: fixed;
            top: 0; right: 0; bottom: 0; left: 0;
            background-color: #fff;
            z-index: 9999999;
            transform: scale(1);
        }
    }
    &.loaded #theBucket{
        display: block;
        &:after{
            display: block;
            content:  url("../svg/loadpage.svg");
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            background-color: transparent;
            transition: all 600ms;
        }
    }

    &.fadout #theBucket{
        display: block;
        &:after{
            display: none;
            content:  none !important;
            position: absolute;
            top: 0; right: 100vw; bottom: 100vw; left: 0;
            background-color: transparent;
        }
    }
}