/**
 *
 * TYPOGRAPHY: GENERAL
 *
 */

html {
	font-size: 10px;

	-webkit-text-size-adjust: 100%;
}

body {
	@include media('small') {
		font-size: fontSize('medium');
	}
	@include media('xlarge') {
		font-size: fontSize('large');
	}

	transition: font-size 100ms;
	font-family: font('main');
	font-size: fontSize('small');
	font-weight: 300;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: font('titles');
	font-weight: normal;
}

.wysiwyg {
	font-size: fontSize('medium');
	line-height: 1.4;

	a:not(.btn) {
		color: inherit;
		font-weight: bold;
		text-decoration: underline;
	}

	p {
		margin-bottom: gap('xsmall');
	}

	h2 {
		margin-bottom: gap('xsmall');
		font-size: titleSize('large');
	}

	h3 {
		margin-bottom: gap('xxxsmall');
		font-size: titleSize('medium');
	}



	ul,
	ol {
		margin: 0 0 gap('xsmall') 2rem;

		li {
			@include media('small') {
				margin-top: gap('xxxsmall');
			}

			margin-top: gap('xxsmall');

			&:first-child {
				margin-top: 0;
			}
		}
	}
}
