/**
 *
 * TYPOGRAPHY: VARS
 *
 */

@font-face {
	font-family: 'VeneerClean';
	src: url('../fonts/VeneerClean-Reg.eot');
	src: url('../fonts/VeneerClean-Reg.eot?#iefix') format('embedded-opentype'),
		url('../fonts/VeneerClean-Reg.woff') format('woff'),
		url('../fonts/VeneerClean-Reg.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Veneer';
	src: url('../fonts/Veneer.eot');
	src: url('../fonts/Veneer.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Veneer.woff') format('woff'),
		url('../fonts/Veneer.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fjalla One';
	src:url('../fonts/FjallaOne-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans B';
	src: url('../fonts/NotoSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans BI';
	src: url('../fonts/NotoSans-BoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans I';
	src: url('../fonts/NotoSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$fonts: (
	'main': (
		'normal': 'Noto Sans',
		'bold': 'Noto Sans B'
	),
	'special': (
		'normal': 'Noto Sans I'
	),
	'titles': (
		'normal': 'Fjalla One',
		'clean': 'Fjalla One',
	)
);

$fontSizes: (
	'inherit' : inherit,
	'xxsmall' : 1.0rem,
	'xsmall'  : 1.1rem,
	'small'   : 1.3rem,
	'medium'  : 1.5rem,
	'large'   : 1.7rem,
	'xlarge'  : 1.9rem,
	'xxlarge' : 2.2rem,
);

$titleSizes: (
	'inherit' : inherit,
	'xxsmall' : 1.5rem,
	'xsmall'  : 1.7rem,
	'small'   : 1.9rem,
	'medium'  : 2.2rem,
	'large'   : 2.5rem,
	'xlarge'  : 3.2rem,
	'xxlarge' : 3.5rem,
	'xxxlarge': 4.3rem
);