.menu{
    width: auto;
    text-align: center;
    display: inline-block;
    transition: all 250ms;
    position: absolute;
    right: 50%;
    top: 120px;
    transform: translate(50%);
    a{
        color: color('dark');
        text-decoration: none;
        font-family: Helvetica,Arial,serif;
        font-weight: bolder;
        margin: 0 0px 0px 20px;
        padding-bottom: 5px;
        text-transform: capitalize;

        &.active{
            border-bottom: 3px solid color('action');
            color: color('action');
        }
    }

    .shrink & {
        right: 10vw;
        top: 20px;
        transform: none;
    }
}