/**
 *
 * BOXING: MIXINS
 *
 */

@mixin media($size, $what: 'min-width') {

	@if type-of($size) == 'string' {

		$size: map-get($breakpoints, $size);

	}

	$size: make-it-px($size);

	@if $what == 'max-width' {
		$size: $size - 1;
	}

	@media all and (#{$what}: $size) {

		@content;

	}

}
