.timeline{
    position: relative;
    top: 20px;
    width: 80vw;
    min-height: 100vh;
    &::before{
        content: ' ';
        background-color: color('action');
        height: 100%;
        margin: 0 auto;
        display: block;
        width: 10px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(50% - 5px);
        border-radius: 5px;

        @media (max-width: 650px) {
            left:0;
        }
    }
    &::after{
        content: ' ';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 20px 0 20px;
        border-color: color('action') transparent transparent transparent;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        @media (max-width: 650px) {
            left: -15px;
            transform: none;
        }
    }

    &_part{
        position: relative;
        width: 50%;
        padding-bottom: 150px;
        &::after{
            content: "";
            width: 20px;
            height: 20px;
            background: color('flag-light');
            position: absolute;
            border-radius: 50%;
            border: 2px solid color('action');
            top: 0;
            z-index: 9;
        }
        @media (max-width: 650px) {
            width: 100%;
        }
    }

    &_part:nth-child(2n){
        left: 0;
        &::after{
            @media (min-width: 650px) {
                right: -10px !important;
            }
            @media (max-width: 650px) {
                left: -5px !important;
            }
        }
        @media (min-width: 650px) {
            time {
                position: absolute;
                top: 2px;
                right: -95px;
            }
        }

        .timelinimage {
            margin-right: auto;
            margin-left: 0;
        }
    }

    &_part:nth-child(2n-1){
        &::after{
            @media (min-width: 650px) {
                left: -10px !important;
            }
            @media (max-width: 650px) {
                left: -5px !important;
            }
        }
        @media (min-width: 650px) {
            left: 50%;
        }
        @media (min-width: 650px) {
            time {
                position: absolute;
                top: 2px;
                left: -95px;
            }
        }
        .timelinimage {
            margin-right: 0;
            margin-left: auto;
        }
    }

    &_part__inner{
        padding: 0 50px;
    }

    .heading{
        transform: translateY(-15px)
    }
}

.timelinimage{
    max-width: 50%;
    max-height: 200px;
    width: auto;
    height: auto;
    display: inherit;
}